# Configuration
.env*
/config/parameters.yml
/assets/*

# ddev.site
/.ddev/*
!/.ddev/config.yaml
!/.ddev/web-build
/.ddev/web-build/*
!/.ddev/web-build/Dockerfile.addSass

# Composer
/vendor/

# Contao Manager
/contao-manager/

# Generated folders
/assets/
/public/*
/system/*
!/system/config/
/system/config/localconfig.php
/var/

# Skip files
/system/modules/*/.skip

# Custom
.vscode*
/.idea
!/files/tpl
!/files/favicons
/auth.json