@use 'psa-shared' as *;

.psa-screen.content-text-double {
  position: relative;
  background: var(--colors-velvet-red-red-600-ci, $psa-bone);

  .light-image-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 305px;
    height: 605px;
    padding: 0 1.832px;
    background: url('/files/tpl/assets/vector/backgrounf-logo.svg') no-repeat center center;
    background-size: cover;
    opacity: 0.2;
    z-index: 0;
    pointer-events: none;
  }

  .psa-container {
    position: relative;
    z-index: 1;
  }

  @include min-nav {
    .left-column {
      padding-right: 92px;
    }
  }

  p,
  .text-col-content {
    color: $psa-ink;
  }

  .text-col-content {
    padding-inline: var(--margin-padding-column-extra-padding, 0);

    @include max-mobile {
      margin-top: var(--paragraph-spacing-body-text, 1rem);
    }
  }

  @include max-nav {
    .right-column {
      margin-top: 20px;
    }
  }
}
